extends layout

block content

  h1
   a(href="/") Ablefit

  p #{pageData.message}
  pre <a href="#{pageData.link}" target="_blank">#{pageData.link}</a>
  p #{pageData.details}

 #footer
  a(href="http://corygrunk.com", target="_blank") Cory coded it.
